public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*gatsby*
public-hoist-pattern[]=*prop-types*
public-hoist-pattern[]=*query-string*
public-hoist-pattern[]=*lodash*
public-hoist-pattern[]=*mitt*
public-hoist-pattern[]=*shallow-compare*
public-hoist-pattern[]=*error-stack-parser*
public-hoist-pattern[]=*platform*
public-hoist-pattern[]=*css.escape*
public-hoist-pattern[]=*anser*
public-hoist-pattern[]=*event-source-polyfill*
